
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(184, 167, 167);
}

.hero-section {
    background-color: aquamarine;
}

.technologies {
    background-color: rgb(203, 156, 212);
}

.featured-projects {
    background-color: rgb(138, 133, 133);
}