body {
    --color1: #F2EFE7;
    --color2: #9acbd0;
    --color3: #48A6A7;
    --color4: #2973B2;

    margin: 0;
    padding: 0;
    /* background-color: #f2efe7; */
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact div {
    margin-left: 5rem;
    gap: 2rem;
}

#carouselExampleIndicators {
    background-color: rgba(20, 32, 58, 0.678);
}


.custom-nav .nav-link {
    color: rgba(20, 32, 58, 0.678);
    border-radius: 5px;
}

.custom-nav .nav-link.active {
    color: #ffffff; 
    background-color: rgba(20, 32, 58, 0.678);
}

.tools-elements {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.tool-element {
    /* gap: 1rem; */
    padding: 1rem;
    background-color: rgba(20, 32, 58, 0.678);
    display: inline;
    border-radius: 2rem;
    color: #ffffff; 
}

.tool-element:hover {
    background-color: rgba(20, 32, 58, 0.884);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text {
    flex-grow: 1; /* This makes all card texts take up equal space */
}

.card .btn {
    margin-top: auto; /* Pushes the button to the bottom */
}

.hero {
    margin-top: 5rem;
}